Source: checkdkim
Section: net
Priority: optional
Maintainer: Casper Gielen <casper-alioth@gielen.name>
Build-Depends: debhelper-compat (= 12), dh-python, python3-setuptools, python3-all
Standards-Version: 4.4.1
Vcs-Browser: https://github.com/countsudoku/check_dkim
Vcs-Git: https://github.com/countsudoku/check_dkim.git
#Testsuite: autopkgtest-pkg-python

Package: python3-checkdkim
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Suggests: python-checkdkim-doc
Description: check dkim keys (Python 3)
 Check dkim keys.
 .
 This package installs the library for Python 3.
